<div class="mx-2 mt-3">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" [(ngModel)]="name" />
    <label for="floatingInput">Workout name</label>
  </div>
</div>

<div class="fixed-bottom mb-2 w-100 d-flex justify-content-center">
  <button type="button" class="btn btn-primary me-2" routerLink="/workout">
    Back
  </button>

  <button
    type="button"
    class="btn btn-primary"
    routerLink="/workout"
    (click)="createWorkout()"
  >
    Create
  </button>
</div>
