<p>{{ workout.name }}</p>

<div class="fixed-bottom mb-2 w-100 d-flex justify-content-center">
  <button type="button" class="btn btn-primary" routerLink="/exercise/index">
    Add exercise
  </button>
</div>
