<div class="text-center fs-1">Workouts</div>
<div *ngFor="let workout of workouts">
  <button
    type="button"
    class="btn btn-secondary"
    [routerLink]="['/workout', workout.id]"
  >
    {{ workout.name }}
  </button>
</div>
<div class="fixed-bottom mb-2 w-100 d-flex justify-content-center">
  <a type="button" class="btn btn-primary" routerLink="/workout/new"
    >Create new workout</a
  >
</div>
